<!--Footer-->
<hr>
<br>
    <div class="container" style="margin-top: 50px; position: relative;">
        <div class="container">
            <h6>for more information, terms and conditions visit:</h6>
            <a href="http://"> optisolutions</a>
        </div>
    </div>