<!-- NavBar -->
<nav class="navbar navbar-expand-xs navbar-dark" style="background-color:  rgb(34, 146, 11);">
    <div class="container-fluid">
      <span class="navbar-text" style="color: azure; margin: auto; text-align: center;">
        <h3>South African COVID-19 Vaccination Programme Registration</h3>
      </span>
      <button class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNavAltMarkup" 
        aria-controls="navbarNavAltMarkup" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
        <div class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Language
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item active" href="#">Engish</a></li>
              <li><a class="dropdown-item" href="#">Afrikaans</a></li>
              <li><a class="dropdown-item" href="#">xxx</a></li>
            </ul>
          </li>
        </div>
      </div>
    </div>
  </nav>
