<!-- NavBar -->
<nav class="navbar navbar-light " style="background-color: rgb(48, 124, 33);">
  <span class="navbar-text" style="color: azure; margin: auto; text-align: center;">
    <h3>South African COVID-19 Vaccination Programme Registration</h3>
  </span>
  <form class="form-inline">
    <div class="container">
     <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color: rgb(17, 80, 5);">English</button> -->
      <div class="navbar-nav">
        <div class="input-group mb-3" >
          <select required class="form-control " name="language" style="width: 100px;">
          <option value="en">English</option>
          <option value="am">Afrikaans</option>
          <option value="bmf">IsiXhosa</option>
          <option value="cmp">IsiZulu</option>
          </select>
        </div>
      </div>
    </div>
  </form>
</nav>
