<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Include Head -->
        <%- include("./partials/head") %>
    </head>
    <body>
        <!-- Include NavBar -->
        <%- include("./partials/nav") %>

        <div class="container container-fluid mt-4" style="width: 50%;">
            

            <form>
                <div class="step step-4" style="display: block;">
                    <h3 class="mb-4 mt-4" style="text-align: center;">Step 4 of 8: Address</h3>

                    <div class="container mb-4">
                        <div class="jumbotron bg-light" style="border-radius: 30px;">
                          <div class="row">
                            <div class="col-sm-2">
                              <!--Info Icon-->
                              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                              </svg>
                              <!--Icon-->
                            </div>
                            <div class="col ">
                              <p>Please enter your address as accurately as possible. This will help us allocate you to an available vaccination site as close as possible. </p>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="container " style="margin-top: 30px">
                        <div class="row">
                          <div class="col-sm-12 container-fluid">
                                <div class="input-group ">
                                    <button type="button" class="btn btn-outline-secondary">Province</button>
                                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="true">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu ">
                                        <li><a class="dropdown-item" href="#">Western Cape</a></li>
                                        <li><a class="dropdown-item" href="#">Eastern Cape</a></li>
                                        <li><a class="dropdown-item" href="#">Nothern Cape</a></li>
                                        <li><a class="dropdown-item" href="#">xxx Cape</a></li>
                                    </ul>
                                </div>
                                <p class="navbar-text">Tap the box above to make a choice</p>
                            </div>
                        </div>
                    </div>

                    <div class="container mb-4">
                        <div class="row">
                          <div class="col-sm-12 container-fluid">
                                <div class="input-group ">
                                    <button type="button" class="btn btn-outline-secondary">Municipality</button>
                                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="true">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu ">
                                        <li><a class="dropdown-item" href="#">SBM</a></li>
                                        <li><a class="dropdown-item" href="#">XxX</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <input type="text" class="form-control mb-3" id="validationServer02" placeholder="Address" >
                        <p>Address is optional</p>
                    </div>
                    
                    <div>
                        <button class="btn btn-outline-primary mt-4" type="button" style="border-radius: 30px;">Go back</button>
                        <button class="btn btn-outline-primary mt-4" type="submit" style="border-radius: 30px;">Next step</button>
                    </div>
    
                </div>
            </form>

            <!-- Include Footer -->
        <%- include("./partials/footer") %>

        <script>
            function nextStep(){
              console.log('Next Step 4 loading!!!')
            }
          </script>
        
    </body>
</html>