<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Include Head -->
        <%- include("./partials/head") %>
        
    </head>
    <body>
        <!-- Include NavBar -->
        <%- include("./partials/nav") %>

        <div class="container container-fluid" style="width: 50%;">

            <form id="step2-form">
                <div class="step step-2" >
                    <h3 class="mb-4 mt-4" style="text-align: center;">Step 2 of 8: General Information</h3>
                    <div>
                        <input type="text" class="form-control mb-3" id="validationServer01" placeholder="ID Number" required>
                    </div>
                    
                    <div>
                        <input type="text" class="form-control mb-3" id="validationServer02" placeholder="Passport (Optional)" >
                    </div>

                    <div>
                        <input type="date" class="form-control mb-3" id="validationServer03" placeholder="Date of birth" required >
                    </div>

                    <div>
                        <input type="text" class="form-control mb-3" id="validationServer04" placeholder="First Name(s)" required>
                    </div>

                    <div>
                        <input type="text" class="form-control mb-3" id="validationServer05" placeholder="Surname" required>
                    </div>

                    <div class="mb-3 container-fluid" style="margin-left: auto;">
                        <select name="gender" id="gender"  style="width: 650px; height: 50px;">
                            <option>Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>

                    <div class="form-check mb-3">
                        <input class="form-check-input " type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
                        <label class="form-check-label" for="invalidCheck3">
                            I confirm that the Information provided is correct
                        </label>
                        <div id="invalidCheck3Feedback" class="invalid-feedback">
                            
                        </div>
                    </div>
    
                    <div>         
                        <a href="/step1" class="btn btn-outline-secondary mt-4" role="button" style="border-radius: 30px; color: rgb(6, 131, 248);"">Go back</a>  
                        <!--<button class="btn btn-outline-primary mt-4" type="button" style="border-radius: 30px;">Go back</button>-->
                        <a href="/step3" class="btn btn-outline-secondary mt-4" type="submit" role="button" style="border-radius: 30px; color: rgb(6, 131, 248);">Next step</a>
                        <!--<button id="submitBtn" class="btn btn-outline-primary mt-4" type="submit" style="border-radius: 30px;" onsubmit="nextStep()" >Next step</button>-->
                    </div>
                    
                </div>
                
            </form>
            <script>
                function nextStep(){
                    console.log('Submitted!!');
                }
            </script>

            <!-- Include Footer -->
        <%- include("./partials/footer") %>
 
    </body>
</html>