<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Include Head -->
        <%- include("./partials/head") %>
    </head>
    <body>
        <!-- Include NavBar -->
        <%- include("./partials/nav") %>

        <div class="container container-fluid mt-4" style="width: 60%;">
            
            <form>
                <div class="step step-4">
                    <h3 class="mb-4 mt-4" style="text-align: center;">Step 7 of 8: Medical Aid</h3>

                    <div class="container mb-4">
                        <div class="jumbotron bg-light" style="border-radius: 30px;">
                          <div class="row">
                            <div class="col-sm-2">
                              <!--Info Icon-->
                              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                              </svg>
                              <!--Icon-->
                            </div>
                            <div class="col ">
                                <p>Please provide you Medical Aid details.</p>
                                <p>It is important to note that your Medical Aid will pay the Government directly for this vaccine. This will <b>not influence your day-to-day, savings or any other benefit.</b> You will not be required to pay for this vaccine and no co-payment/levy will be required.</p>
                            </div>
                          </div>
                        </div>
                    </div>

                    <p class="container-fluid">Please provide us with your accutrate Medical Aid details:</p>
                   
                    <div class="container ">
                        <div class="row">
                          <div class="col-sm-12 container-fluid mb-4">
                                <div class="input-group ">
                                <select name="municipality" id="municipality" style="width: 650px; height: 50px;">
                                    <option>Medical aid scheme name</option>
                                    <option value="sc1">Scheme 1</option>
                                    <option value="sc2">Scheme 2</option>
                                    <option value="sc3">Scheme 3</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div>
                        <input type="text" class="form-control " id="validationServer07" placeholder="Medical aid number">
                    </div>
                    
                    
                    <div>
                        <a href="/step6" class="btn btn-outline-secondary mt-4" role="button" style="border-radius: 30px; color: rgb(6, 131, 248);">Go back</a>  
                        <!--<button class="btn btn-outline-primary mt-4" type="button" style="border-radius: 30px;">Go back</button>-->
                        <a href="/step8" class="btn btn-outline-secondary mt-4" type="submit" role="button" style="border-radius: 30px; color: rgb(6, 131, 248);">Next step</a>
                        <!--<button class="btn btn-outline-primary mt-4" type="submit" style="border-radius: 30px;" onsubmit="nextStep()" >Next step</button>-->
                    </div>
    
                </div>
            </form>

            <!-- Include Footer -->
        <%- include("./partials/footer") %>

    </body>
</html>