<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Include Head -->
        <%- include("./partials/head") %>
    </head>
    <body>
        <!-- Include NavBar -->
        <%- include("./partials/nav") %>

        <div class="container container-fluid" style="width: 60%;">

          <form action="/input8" method="POST">
            <div class="step step-6" style="display: block;">
              <h3 class="mb-4 mt-4" style="text-align: center;">Step 8 of 8: Registration has been successful</h3>
                <div class="container mb-4">
                  <div class="jumbotron bg-light" style="border-radius: 30px;">
                    <div class="row">
                    
                      <div class="col ">
                        <div class="container">
                          <h6><b>You have successfully registered for the South African COVID-19 Vaccination 
                              Programme. Summary of what to expect next.</b></h6>
                          <p>1. You will receive an SMS within the next 24 hours on the mobile number you provided, confirming successful registration for vaccination.</p>
                          <p>2. Closer to the time for your vaccination you will receive another SMS with the date, time and place for your vaccination. If you have entered your Medical Aid details, please bring your proof of your Medical Aid membership.</p>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

            <!-- Include Footer -->
        <%- include("./partials/footer") %>

    </body>
</html>