<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Include Head -->
        <%- include("./partials/head") %>
    </head>
    <body>
        <!-- Include NavBar -->
        <%- include("./partials/nav") %>

        <div class="container container-fluid" style="width: 50%;">

            <form>
                <div class="step step-1" style="display: block;">
                    <h3 class="mb-4 mt-4" style="text-align: center;">Step 1 of 8: Method of Identification</h3>
                    <div class="container mt-3 mb-3">
                        <div>
                            <a href="/step2" class="btn btn-outline-secondary container-fluid" role="button" style="border-radius: 30px;"><b style="color: rgb(106, 208, 255);">South African ID</b></a>
                          <!--<button type="button" class="btn btn-outline-dark container-fluid" style="border-radius: 30px;">Use South African ID</button>-->
                        </div>
                    </div>
                    <div class="container mb-3">
                        <div>
                            <a href="/step2" class="btn btn-outline-secondary container-fluid" role="button" style="border-radius: 30px;;"><b>Passport</b></a>
                            <!--<button type="button" class="btn btn-outline-dark container-fluid" style="border-radius: 30px;">Use Passport</button>-->
                        </div>
                    </div>
                    <div class="container mb-5">
                        <div>
                            <a href="/step2" class="btn btn-outline-secondary container-fluid" role="button" style="border-radius: 30px;"><b>Asylum Seeker / Refugee Number</b></a>
                            <!--<button type="button" class="btn btn-outline-dark container-fluid" style="border-radius: 30px;">Use Asylum Seeker / Refugee Number</button>-->
                        </div>
                    </div>
                </div>

                <div style="align-content: center;">
                    <a href="/" class="btn btn-outline-secondary mt-4  container-fluid" role="button" style="border-radius: 30px; width: auto; color: rgb(6, 131, 248);">Go back</a>
                    <!--<button class="btn btn-outline-primary mt-4" type="button" style="border-radius: 30px;">Go back</button>-->
                </div>
            </form>

            <!-- Include Footer -->
        <%- include("./partials/footer") %>

        <script>
            function nextStep(){
              console.log('Next Step 4 loading!!!')
            }
          </script>
        
    </body>
</html>